<div class="content container">
<h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
<div class="row">
    <div class="col-lg-8">
        <section class="widget">
            <header>
                <h4>
                    Visits
                    <small>
                        Based on a three months data
                    </small>
                </h4>
                <div class="widget-controls">
                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body no-margin">
                <div id="visits-chart" class="chart visits-chart">
                    <svg></svg>
                </div>
                <div class="visits-info well well-sm">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-users"></i> Total Traffic</div>
                            <div class="value">24 541 <i class="fa fa-caret-up color-green"></i></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-bolt"></i> Unique Visits</div>
                            <div class="value">14 778 <i class="fa fa-caret-down color-red"></i></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-plus-square"></i> Revenue</div>
                            <div class="value">$3 583.18 <i class="fa fa-caret-up color-green"></i></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-user"></i> Total Sales</div>
                            <div class="value">$59 871.12 <i class="fa fa-caret-down color-red"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div class="col-lg-4">

        <section class="widget large">
            <header>
                <h4>
                    Feed
                    <span class="label label-success">412</span>
                </h4>
                <div class="actions">
                    <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
                </div>
            </header>
            <div class="body">
                <div id="feed" class="feed">
                    <div class="wrapper">
                        <div class="vertical-line"></div>
                        <section class="feed-item">
                            <div class="icon pull-left">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="feed-item-body">
                                <div class="text">
                                    <a href="#">John Doe</a> commented on <a href="#">What Makes Good Code Good</a>.
                                </div>
                                <div class="time pull-left">
                                    3 h
                                </div>
                            </div>
                        </section>
                        <section class="feed-item">
                            <div class="icon pull-left">
                                <i class="fa fa-check color-green"></i>
                            </div>
                            <div class="feed-item-body">
                                <div class="text">
                                    <a href="#">Merge request #42</a> has been approved by <a href="#">Jessica Lori</a>.
                                </div>
                                <div class="time pull-left">
                                    10 h
                                </div>
                            </div>
                        </section>
                        <section class="feed-item">
                            <div class="icon pull-left">
                                <img src="img/14.png" class="img-circle" alt="">
                            </div>
                            <div class="feed-item-body">
                                <div class="text">
                                    New user <a href="#">Greg Wilson</a> registered.
                                </div>
                                <div class="time pull-left">
                                    Today
                                </div>
                            </div>
                        </section>
                        <section class="feed-item">
                            <div class="icon pull-left">
                                <i class="fa fa-bolt color-orange"></i>
                            </div>
                            <div class="feed-item-body">
                                <div class="text">
                                    Server fail level raises above normal. <a href="#">See logs</a> for details.
                                </div>
                                <div class="time pull-left">
                                    Yesterday
                                </div>
                            </div>
                        </section>
                        <section class="feed-item">
                            <div class="icon pull-left">
                                <i class="fa fa-database"></i>
                            </div>
                            <div class="feed-item-body">
                                <div class="text">
                                    <a href="#">Database usage report</a> is ready.
                                </div>
                                <div class="time pull-left">
                                    Yesterday
                                </div>
                            </div>
                        </section>
                        <section class="feed-item">
                            <div class="icon pull-left">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="feed-item-body">
                                <div class="text">
                                    <a href="#">Order #233985</a> needs additional processing.
                                </div>
                                <div class="time pull-left">
                                    Wednesday
                                </div>
                            </div>
                        </section>
                        <section class="feed-item">
                            <div class="icon pull-left">
                                <i class="fa fa-arrow-down"></i>
                            </div>
                            <div class="feed-item-body">
                                <div class="text">
                                    <a href="#">Load more...</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <section class="widget">
            <header>
                <h4>
                    Server Overview
                </h4>
                <div class="actions">
                    <small class="text-muted pull-right">2 days ago</small>
                </div>
            </header>
            <div class="body">
                <ul class="server-stats">
                    <li>
                        <div class="key pull-right">CPU</div>
                        <div class="stat">
                            <div class="info">60% / 37&deg;C / 3.3 Ghz</div>
                            <div class="progress progress-small">
                                <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="key pull-right">Mem</div>
                        <div class="stat">
                            <div class="info">29% / 4GB (16 GB)</div>
                            <div class="progress progress-small">
                                <div class="progress-bar" style="width: 29%;"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="key pull-right">LAN</div>
                        <div class="stat">
                            <div class="info">6 Mb/s <i class="fa fa-caret-down"></i> &nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></div>
                            <div class="progress progress-small">
                                <div class="progress-bar progress-bar-inverse" style="width: 48%;"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>


    </div>
</div>
</div>
