<div class="content container">
<h2 class="page-title">Account Demo <small>Out of the box form</small></h2>
<div class="row">
    <div class="col-md-7">
        <section class="widget">
            <header>
                <h4><i class="fa fa-user"></i> Account Profile <small>Create new or edit existing user</small></h4>
            </header>
            <div class="body">
                <form id="user-form" class="form-horizontal form-label-left"
                      novalidate="novalidate"
                      method="post"
                      data-parsley-priority-enabled="false"
                      data-parsley-excluded="input[name=gender]">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="text-align-center">
                                <img class="img-circle" src="img/3.png" alt="64x64" style="height: 112px;">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="mt-sm mb-xs">Maryna Gils</h3>
                            <address>
                                <strong>Development manager</strong> at <strong><a href="#">Allexample Inc.</a></strong><br>
                                <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.gils@example.com</a><br>
                                <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div>
                    <fieldset class="mt-sm">
                        <legend>Account Edit Form <small>Some explanation text</small></legend>
                    </fieldset>
                    <fieldset>
                        <legend class="section">Personal Info</legend>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="prefix">Prefix</label>
                            <div class="col-sm-4"><input type="text" id="prefix" name="prefix" class="form-control input-transparent"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="first-name">First Name <span class="required">*</span></label>
                            <div class="col-sm-8"><input type="text" id="first-name" name="first-name" required="required" class="form-control input-transparent" ></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="last-name">Last Name <span class="required">*</span></label>
                            <div class="col-sm-8"><input type="text" id="last-name" name="last-name" required="required" class="form-control input-transparent" ></div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-sm-4">Middle Name / Initial</label>
                            <div class="col-sm-8"><input id="middle-name" class="form-control input-transparent" type="text" name="middle-name" value=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Gender</label>
                            <div class="col-sm-8">
                                <div id="gender" class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                                    </label>
                                    <label class="btn btn-primary active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="gender" value="female" checked> Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date-of-birth" class="control-label col-sm-4">Date Of Birth <span class="required">*</span></label>
                            <div class="col-sm-6"><input id="date-of-birth" class="date-picker form-control input-transparent" required="required" type="text" name="date-of-birth" value=""></div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="section">Contact Info</legend>
                        <div class="form-group">
                            <label id="email-label" for="email" class="control-label col-sm-4">Email <span class="required">*</span></label>
                            <div class="col-xs-12 col-sm-6">
                                <div class="input-group">
                                    <input id="email" type="email"
                                           data-trigger="change" required="required"
                                           class="form-control input-transparent"
                                           name="email">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="button">Write an email</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="control-label col-sm-4">Phone <span class="required">*</span></label>
                            <div class="col-xs-12 col-sm-6">
                                <div class="input-group">
                                    <input id="phone" class="form-control input-transparent  mask"
                                           required="required" type="text"
                                           name="phone" maxlength="28">
                                    <span class="input-group-btn">
                                        <select id="phone-type" class="selectpicker" data-style="btn-default" data-width="auto">
                                            <option>Mobile</option>
                                            <option>Home</option>
                                            <option>Work</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fax" class="control-label col-sm-4">Fax</label>
                            <div class="col-xs-12 col-sm-6">
                                <div class="input-group">
                                    <input id="fax" class="form-control input-transparent" type="text"
                                           name="phone" maxlength="28">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="section">
                            Address
                        </legend>
                        <div class="form-group">
                            <label for="city" class="control-label col-sm-4">City <span class="required">*</span></label>
                            <div class="col-xs-12 col-sm-6">
                              <input id="city" class="form-control input-transparent" required="required" type="text" value="" name="city">
                            </div>
                        </div>

                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>


    <div class="col-md-5">
        <section class="widget">
            <header>
                <h4><i class="fa fa-cogs"></i> Account settings</h4>
            </header>
            <div class="body">
                <form method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="exp">Account creation date</label>
                            <input id="exp" class="form-control date-picker" type="text" name="exp" value="">
                            <p class="help-block">Bootstrap datepicker</p>
                        </div>
                        <div class="form-group">
                            <label for="created_by">Created By</label>

                            <input id="created_by" class="form-control" type="text" name="created_by"
                                   value="Admin" disabled="disabled">

                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>
</div>
